/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Maksukortti/Maksukortti/build/
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/nbproject/
/Pong/target
/Pong/nbproject/
/Pong/nbactions.xml
/laskarit/viikko2/Maksukortti/telefgram/nbproject/private/
/laskarit/viikko2/Maksukortti/telefgram/build/
/laskarit/viikko2/Maksukortti/telefgram/dist/
/laskarit/viikko2/Maksukortti/PongTest/nbproject/private/
/laskarit/viikko2/Maksukortti/PongTest/dist/
/laskarit/viikko2/Maksukortti/PongTest/build/
/laskarit/viikko2/Maksukortti/tyiedoston muokkaus/nbproject/private/
/laskarit/viikko2/Maksukortti/tyiedoston muokkaus/build/
/laskarit/viikko2/Maksukortti/TestOtPong/nbproject/private/